.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
renv
renv.lock
revdep
.Rprofile
README.html
inst/doc
**/.quarto/
docs
*.RData
*.Rhistory
*.gz
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
renv
renv.lock
revdep
.Rprofile
README.html
.Rapp.history
**/.quarto/
inst/doc
